[2021-08-30 11:40:01] Retrieving speedtest.net configuration...
[2021-08-30 11:40:01] Testing from BT (86.162.131.27)...
[2021-08-30 11:40:01] Retrieving speedtest.net server list...
[2021-08-30 11:40:01] Selecting best server based on ping...
[2021-08-30 11:40:01] Hosted by IDS LTD (Manchester) [204.06 km]: 20.389 ms
[2021-08-30 11:40:01] Testing download speed................................................................................
[2021-08-30 11:40:01] Download: 37.71 Mbit/s
[2021-08-30 11:40:01] Testing upload speed................................................................................................
[2021-08-30 11:40:01] Upload: 6.52 Mbit/s
